[Unit]
Description=avx tally
After=network-online.target
Wants=network-online.target

[Service]
Environment=CONTROLLER=''
Environment=BRIGHTNESS=0.2
Environment=TALLY_INPUT=8
ExecStart=/home/pi/workspace/venv/bin/python2 -m avx_tally.blinkt -c ${CONTROLLER} -b ${BRIGHTNESS} -t ${TALLY_INPUT}
Restart=always

[Install]
WantedBy=multi-user.target
